body {
  background-color: purple;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
